.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#signIn{
  background-image: url("./images/temp_snowing.jpg"); 
  height: 100vh;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#signinForm{
  background-color:lightskyblue;
  border: 2px solid black;
  padding: 10px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signinFormlabel, .signinFormInput{
  padding: 5px;
}

.signinFormInput{
  border-radius: 25px;
}

#signinFormSubmit{
  padding: 8x;
  margin-top: 8px;
  border-radius: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
