.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav-icon-outer{
    display: block;
    justify-content: center;
    background-color: white;
    width: 33%;
    border: 2px solid black;
}

.nav-icon{
    height: 100px;
    width: 100px;
}