.navbar{
    display: flex;
    flex-direction: row;
    height: 80px;
}

.nav-icon-outer{
    display: block;
    justify-content: center;
}

.nav-icon{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    width: 40px;
}